*{
	margin: 0;
	padding: 0;
}

body{
	font-size:62.5%;
	color:#333;
	overflow-y: scroll;
}

div#wrap{
	width:900px;
	margin:20px auto;
}

#wrap > .left{
	float:left;
	width:200px;
}

header{
	font-size:3.2em;
	margin-bottom:20px;
}

nav{
	font-size:1.4em;
	font-weight:bold;
}

nav ul{
	list-style-type:none;
}

nav ul li{
	background-color:#333;
	border:1px solid #cccccc;
	width:170px;
	margin-bottom:1px;
	color:#fff;
	cursor:pointer;
}

nav ul li:hover{
	background-color: #fff;
	color:#333;
}

nav ul li span{
	padding:1em 1em;
	display:block;
}

nav ul li span:hover{
	text-decoration:underline;
}

nav ul li a {
	text-decoration:none;
	color:#fff;
}

nav ul li a:visited {
	color:#ccc;
}

nav ul li a:hover {
	color:#333;
}

nav ul li.current{
	background-color: #fff;
	color:#333;
}

nav ul li.current a{
	color:#333;
	text-decoration:underline;
}

div#main{
	margin-left:200px;
	font-size:1.4em;
	line-height:1.6;
}

div#main div.img{
	height:280px;
	background: url("../images/ph2.png") no-repeat center center;
	background-size:cover; 
	margin-bottom:20px;
}

div#main p{
	margin-bottom:1em;
}

hr{
	margin:20px 0;
}

div#footer{
	width:220px;
	margin:0 auto;
}

div#footer div{
	float:left;
	width:100px;
}

.hidden{
	display:none;
}
